[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pylint = "*"
isort = "*"
flake8 = "*"
autoflake = "*"
seaborn = "*"
matplotlib = "*"

[packages]
pandas = "*"
sklearn = "*"
nltk = "*"
xgboost = "*"
tqdm = "*"
fire = "*"
attr = "*"
attrs = "*"
joblib = "*"
schema = "*"
ruamel-yaml = "*"
imblearn = "*"
gym = "*"
tensorflow = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
